<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8d858089-8404-43d0-b7ab-585daca629c9/resourcegroups/Practica/providers/Microsoft.Web/sites/UniversidadWeb20211013103431</ResourceId>
    <ResourceGroup>Practica</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://universidadweb20211013103431.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>49e8e6a4-0438-4969-bd93-89f2725c8f6f</ProjectGuid>
    <PublishUrl>https://universidadweb20211013103431.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UniversidadWeb20211013103431</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>